body {
  background-color: green;
  font-family: cursive;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
h2,
p {
  text-align: center;
  color: white;
}
h3 {
  color: white;
}
a {
  text-decoration: none;
}
img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
.home {
  font-size: 22px;
  color: white;
  font-weight: bold;
}
.info {
  color: rgb(234, 15, 110);
}
button {
  padding: 8px 16px;
  border-radius: 12px;
  border: none;
  color: blueviolet;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
