body {
  background-color: green;
  font-family: cursive;
  text-align: center;
}
h1 {
  color: white;
  text-align: center;
}
h2,
p {
  text-align: center;
  color: white;
}
h3 {
  color: white;
}
a {
  text-decoration: none;
}
img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}
